*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
.my_bgb{
    background: url(../img/login/ggg.jpg) no-repeat;
    background-size: cover;
}
.my_bg{
    background:rgba(0,0,0,0.2);
}
.my_small{
    font-size:0.9rem;
}
.text-color{
    color:#fff;
}